@keyframes arrow {
  from {
    transform: scale(1.2) rotate(-2deg);
    /* transform: rotate(0deg); */
  }
  50% {
    transform: scale(1) rotate(0deg);
    /* transform: rotate(2deg); */
  }
  to {
    transform: scale(1.2) rotate(2deg);
    /* transform: rotate(-2deg); */
  }
}

/* Common classes */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

/* UI */

.container {
  position: relative;
  width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header {
  margin: 0 0 100px 0;
}

.nav {
  padding: 30px 0 0 0;
  margin: 0 0 60px 0;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.nav__item {
  color: #000;
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-size: 1vw;
}

.nav__item:hover {
  color: #ff9770;
  transition: 0.3s;
}

.nav__logo {
  color: #000;
  list-style: none;
  font-family: "Roboto Slab", serif;
  font-size: 2vw;
}
.nav__logo:hover {
  color: #ff9770;
  transition: 0.3s;
}

.nav__link {
  color: inherit;
  text-decoration: none;
}

.nav__group {
  display: flex;
}

.nav__button {
  font-size: 1vw;
  outline: none;
  border: none;
  background: none;
  margin: 0 30px 0 0;
}

.nav__button:last-child {
  margin: 0;
}

.nav__button:hover {
  color: #ff9770;
  transition: 0.3s;
}

.introduction {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 0 0 30px 0;
}

.introduction__left {
  width: 50%;
}

.introduction__title {
  font-size: 4vw;
  font-family: "Roboto Slab", serif;
}

.introduction__list {
  display: flex;
  flex-direction: column;
}
.introduction__item {
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  list-style: none;
}
.introduction__item_1 {
  font-size: 3vw;
  color: #70d6ff;
}
.introduction__item_2 {
  font-size: 3.5vw;
  color: #94bde9;
}
.introduction__item_3 {
  font-size: 4vw;
  color: #b8a3d3;
}
.introduction__item_4 {
  font-size: 3.5vw;
  color: #dc8abd;
}
.introduction__item_5 {
  font-size: 3.5vw;
  color: #ff70a6;
}

.see-catalog {
  display: block;
  position: relative;
  text-align: center;
  font-family: "Roboto", serif;
  text-decoration: none;
  color: #000;
  font-size: 2vw;
  animation: arrow linear 0.75s infinite alternate-reverse;
}

.catalog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  display: flex;
  width: 300px;
  flex-direction: column;
  margin: 0 0 30px 0;
}

.card__img {
  margin: 0 0 10px 0;
}

.card__name {
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-size: 1.5vw;
  margin: 0 0 10px 0;
}

.card__bottom {
  display: flex;
  justify-content: space-around;
  align-content: baseline;
}

.card__price {
  font-family: "Roboto", sans-serif;
  font-size: 1vw;
}

.card__button {
  outline: none;
  background: none;
  border: none;
  font-size: 1vw;
  color: #000;
}

.cart {
  border-radius: 10px;
  background: #fff;
  padding: 30px;
  position: absolute;
  right: 0;
  top: 100px;
  box-shadow: 0px 0px 40px 0px rgba(34, 60, 80, 0.39);
}

.cart__empty-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Roboto", sans-serif;
  background: #eee;
  font-size: 1.5vw;
  padding: 15px;
  border-radius: 5px;
}

.cart__link {
  margin: 15px 0 0 0;
  color: #ff70a6;
  text-decoration: none;
}

.cart-product {
  display: flex;
  margin: 0 0 20px 0;
}

.cart-product__img {
  margin: 0 30px 0 0;
}
.cart-product__content {
  display: flex;
  flex-direction: column;
}
.cart-product__name {
  font-size: 1.75vw;
  font-family: "Roboto", sans-serif;
  margin: 0 0 15px 0;
}
.cart-product__bottom {
  display: flex;
  align-content: baseline;
  justify-content: space-between;
  width: 10vw;
}
.cart-product__price {
  font-size: 1.2vw;
  margin: 0 15px 0 0;
  font-family: "Roboto", sans-serif;
}
.cart-product__amound {
  font-size: 1.2vw;
  margin: 0 15px 0 0;
  font-family: "Roboto", sans-serif;
}
.cart-product__button {
  font-size: 1.2vw;
  background: none;
  border: none;
  outline: none;
}
